name: Release

on:
  push:
    branches:
      - master

env:
  IMAGE_NAME: moto-bot
  IMAGE_TAG: master

jobs:
  image:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Login to GitHub Registry
        run: docker login docker.pkg.github.com -u motoki317 -p ${{ secrets.GITHUB_TOKEN }}
      - name: Build Image
        run: docker build -t docker.pkg.github.com/motoki317/moto-bot/${IMAGE_NAME}:${IMAGE_TAG} .
      - name: Push image to GitHub Registry
        run: docker push docker.pkg.github.com/motoki317/moto-bot/${IMAGE_NAME}:${IMAGE_TAG}
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [image]
    steps:
      - name: Install SSH key
        uses: shimataro/ssh-key-action@262770b68bf225871bf8219e01b27e5d78cf4a59
        with:
          key: ${{ secrets.SSH_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
      - name: Deploy
        run: ssh -o LogLevel=QUIET -t ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }} "~/deploy.sh"
